@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}
.bosh_logo_item {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #318ce3;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bosh_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bosh_image_item {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.bosh_image p,
.bosh_clock {
  margin: 0;
  color: #fff;
  font-size: 1.3rem;
}
.bosh_image .bosh_p2 {
  display: none;
}
.navbar_menu {
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;
  border-top: 1px solid #ddd;
  background: #318ce3;
}

.navbar_menu * {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
}
.navar_logo {
  display: none;
}
.navar_logo a {
  font-weight: 800;
  font-size: 2rem;
}
.navar_logo a:hover,
.navar_logo a:active,
.navar_logo a:checked,
.navar_logo_md a:hover,
.navar_logo_md a:active {
  color: #fff;
}
.navbar_items {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_items a {
  font-weight: 600;
  margin: 0 2px;
  border: 3px solid #318ce7;
}
.navbar_items a:hover {
  border-bottom: 3px solid #fff;
}
.navbar_button {
  display: none;
}
.header_types {
  width: 100vw;
  height: 80vh;
  background-image: url("https://media.istockphoto.com/photos/workspace-desk-top-view-no-people-copy-space-picture-id1161855233?k=20&m=1161855233&s=612x612&w=0&h=tK8VfzjtBSBaoOrUl4QhQ71xwGkBsMBQIAOf3CB8qjA=");
  background-repeat: no-repeat;
  background-size: cover;
}
.header_type {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_center {
  text-align: center;
  height: 30%;
}
.typed_item * {
  font-size: 1.5rem;
  word-spacing: 5px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 3px #3fff;
}
.yozuvBtn {
  margin-top: 40px;
}

.card_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card_items .card_item {
  border-right: 10px;
  margin: 15px 5px;
  box-shadow: 0 0 5px #000;
}
.card_item:hover {
  box-shadow: 0 0 10px #000;
}
.card_items .card_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card_item a,
.card_item p {
  color: #555;
  font-size: 15px;
}
.card_title h3 {
  margin: 0 10px;
  color: #555;
  font-weight: 600;
  letter-spacing: 1px;
}
.card_title svg {
  color: #318ce3;
  font-size: 30px;
}
.main_header {
  text-align: center;
  border: 2px solid rgb(202, 202, 32);
  margin: 15px auto;
  padding: 20px 5px;
}
.containerRow {
  width: 90%;
  margin: 15px auto;
}
.containerRow .pp {
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 2px #555;
}
@media screen and (max-width: 1200px) {
  .navbar_button {
    display: block;
  }
  .navar_logo {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .navbar_items {
    display: none;
  }
  .navbar_md {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(47, 18, 18);
    background: linear-gradient(
      180deg,
      rgba(47, 18, 18, 1) 0%,
      rgba(88, 127, 237, 1) 0%,
      rgba(94, 101, 226, 1) 79%,
      rgba(185, 208, 232, 1) 100%
    );
    z-index: 1000;
  }
  .navbar_md * {
    color: #fff;
  }
  .navar_logo_md {
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_items_md a {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navbar_items_md a:hover {
    font-size: 1.6rem;
    text-shadow: 0 0 3px #fff;
  }
}

@media screen and (max-width: 991px) {
  .bosh_image .bosh_p1,
  .bosh_clock {
    margin: 0;
    color: #fff;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .bosh_image .bosh_p1 {
    display: none;
  }
  .bosh_image .bosh_p2 {
    display: block;
  }
}
