@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}
.bosh_logo_item {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  background-color: #318ce3;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bosh_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bosh_image_item {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.bosh_image p,
.bosh_clock {
  margin: 0;
  color: #fff;
  font-size: 1.3rem;
}
.bosh_image .bosh_p2 {
  display: none;
}
.navbar_menu {
  left: 0;
  right: 0;
  padding: 20px;
  border-top: 1px solid #ddd;
  z-index: 1000;
  background: #318ce3;
}
.active {
  position: fixed;
  top: 0;
}

.navbar_menu * {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
}
.navar_logo {
  display: none;
}
.navar_logo a {
  font-weight: 800;
  font-size: 2rem;
}
.navar_logo a:hover,
.navar_logo a:active,
.navar_logo a:checked,
.navar_logo_md a:hover,
.navar_logo_md a:active {
  color: #fff;
}
.navbar_items {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_items a {
  font-weight: 600;
  margin: 0 2px;
  border: 3px solid #318ce7;
}
.navbar_items a:hover {
  border-bottom: 3px solid #fff;
}
.navbar_button {
  display: none;
}
.header_types {
  width: 100vw;
  height: 80vh;
}
.header_type {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_center {
  text-align: center;
  height: 30%;
}
.typed_item * {
  font-size: 1.5rem;
  word-spacing: 5px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 3px #3fff;
}
.yozuvBtn {
  margin-top: 40px;
}
.row_col_item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_item1 {
  position: relative;
  height: 23rem;
  border-right: 10px;
}
.card_items {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card_item {
  position: relative;
  margin: 5px 0;
  height: 23rem;
  border-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card_item:hover,
.card_item1:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.card_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.card_item a,
.card_item p {
  color: #555;
  font-size: 15px;
}
.card_title h3 {
  margin: 0 10px;
  color: #555;
  font-weight: 600;
  letter-spacing: 1px;
}
.card_item1_text * {
  font-size: 15px;
}

.card_for_body,
.card_for_body1 {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 10rem;
  margin: 0 auto;
}
.card_title svg {
  color: #318ce3;
  font-size: 30px;
}
.main_header {
  text-align: center;
  border: 2px solid rgb(202, 202, 32);
  margin: 15px auto;
  padding: 20px 5px;
}
.containerRow {
  width: 90%;
  margin: 15px auto;
}
.containerRow .pp {
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 2px #555;
}
.tugmacha {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.elem {
  padding: 10px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
.elem h2 {
  text-align: center;
}
.htr a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.htr p {
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}
.htr img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .navbar_button {
    display: block;
  }
  .navar_logo {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .navbar_items {
    display: none;
  }
  .navbar_md {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(47, 18, 18);
    background: linear-gradient(
      180deg,
      rgba(47, 18, 18, 1) 0%,
      rgba(88, 127, 237, 1) 0%,
      rgba(94, 101, 226, 1) 79%,
      rgba(185, 208, 232, 1) 100%
    );
    z-index: 1000;
  }
  .navbar_md * {
    color: #fff;
  }
  .navar_logo_md {
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_items_md a {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navbar_items_md a:hover {
    font-size: 1.6rem;
    text-shadow: 0 0 3px #fff;
  }
}

@media screen and (max-width: 991px) {
  .bosh_image .bosh_p1,
  .bosh_clock {
    margin: 0;
    color: #fff;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .bosh_image .bosh_p1 {
    display: none;
  }
  .bosh_image .bosh_p2 {
    display: block;
  }
}
