@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
}
.bosh_logo_item {
  position: sticky;
  top: 0;
  background-color: #318ce3;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bosh_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bosh_image_item {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.bosh_image p,
.bosh_clock {
  margin: 0;
  color: #fff;
  font-size: 1.3rem;
}
.bosh_image .bosh_p2 {
  display: none;
}
.navbar_menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;
  background-color: #318ce7;
  border-bottom: 2px solid #555;
}
.navbar_menu * {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
}
.navbar_items {
  margin-left: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_items a {
  font-weight: 600;
  margin: 0 2px;
  border: 3px solid #318ce7;
}
.navbar_items a:hover {
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 3px solid #fff;
}
.navbar_button {
  display: none;
}
@media screen and (max-width: 1200px) {
  .navbar_button {
    display: block;
  }
  .navbar_items {
    display: none;
  }
  .navbar_md {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(47, 18, 18);
    background: linear-gradient(
      180deg,
      rgba(47, 18, 18, 1) 0%,
      rgba(88, 127, 237, 1) 0%,
      rgba(94, 101, 226, 1) 79%,
      rgba(185, 208, 232, 1) 100%
    );
    z-index: 1000;
  }
  .navbar_md * {
    color: #fff;
  }
  .navar_logo_md {
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_items_md a {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navbar_items_md a:hover {
    font-size: 1.6rem;
    text-shadow: 0 0 3px #fff;
  }
}

@media screen and (max-width: 991px) {
  .bosh_image .bosh_p1,
  .bosh_clock {
    margin: 0;
    color: #fff;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .bosh_image .bosh_p1 {
    display: none;
  }
  .bosh_image .bosh_p2 {
    display: block;
  }
}
