@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.headerImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(40%);
}
.sliderHeader {
  position: relative;
  width: 100%;
  top: -20px;
}
.headerSliderText {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
}
.headerSliderText h3 {
  font-size: 80px;
  color: #ffffee;
  opacity: 1;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 0 0 2px #fff;
}
.headerIcons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
.headerIcon,
.headerIcon:active,
.headerIcon:checked,
.headerIcon:hover {
  margin-left: 50px;
  padding: 0 15px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  border: 5px solid #fff;
  animation-name: icondonw;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.sarlavha {
  margin-top: 5%;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #051000;
  text-shadow: 0 0 2px #000;
}
.line {
  width: 30%;
  border-bottom: #fffa00 solid 4px;
  margin: auto;
  margin-bottom: 5%;
}
.tana {
  background-color: rgb(55, 124, 214);
  padding: 20px 0;
}
.row_col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1,
.card2,
.card3 {
  padding: 3px;
  border-radius: 6px;
}
.card1 {
  transition: 1s;
}
.card2 {
  transition: 0.6s;
}
.card3 {
  transition: 0.3s;
}
.row_col:hover .card1,
.row_col:hover .card2,
.row_col:hover .card3 {
  box-shadow: 0 0 5px #fff;
}
@media screen and (max-width: 1500px) {
  .headerSliderText h3 {
    font-size: 50px;
    font-weight: 800;
  }
  .headerIcon,
  .headerIcon:active,
  .headerIcon:checked,
  .headerIcon:hover {
    padding: 0 10px;
    font-size: 20px;
  }
  .sarlavha {
    font-size: 40px;
  }
}
@media screen and (max-width: 991px) {
  .headerSliderText h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }
  .headerIcon,
  .headerIcon:active,
  .headerIcon:checked,
  .headerIcon:hover {
    border: 2px solid #fff;
    font-size: 15px;
  }
  .sarlavha {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  .line {
    width: 50%;
    border-bottom: lightsteelblue solid 4px;
    margin: auto;
    margin-bottom: 5%;
  }
  .headerIcon,
  .headerIcon:active,
  .headerIcon:checked,
  .headerIcon:hover {
    padding: 0 10px;
    font-size: 20px;
  }

  .sarlavha {
    font-size: 2 0px;
  }
}
