.ant-carousel {
  background-color: rgba(0, 0, 0, 0.5);
}
.paramumic_data {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paramumic_data div {
  height: 80%;
  margin: auto 0;
}
.paramumic_data h2,
.paramumic_data h4 {
  padding: 10px;
  margin: 40px 0;
  height: max-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 40px;
  text-align: center;
  font-family: "Lobster", cursive;
}
.paramumic_data h2 {
  align-self: flex-start;
}
.paramumic_data h4 {
  font-size: 25px;
}
.malumot_sppiner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
