@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white !important;
}
.body_makatab {
  background-image: url("https://image.shutterstock.com/image-photo/top-view-natural-wooden-desktop-260nw-490538686.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
}
.body_makatab * {
  color: #fff;
}
.dark_maktab {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.qabulHeader {
  background-image: url("https://st.internat.uz/data/articles/1/SHKOLA1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  width: 100%;
  height: 95vh;
}
.qabul_header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 95vh;
  margin: 0;
}
.text_q {
  padding-top: 20%;
  padding-left: 10%;
}
.text_q h1 {
  font-size: 70px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 1px #000;
  line-height: 100px;
  letter-spacing: 5px;
  font-family: "Enriqueta", serif;
}

.qabul_image {
  border-radius: 5px;
  margin: 5% 0;
}

.tavsilot {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.qabul_image {
  height: 800px;
  width: 800px;
}
.tavsilot img {
  border-radius: 50%;
  border: 1px inset;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 10%;
}
.tavsilottext {
  padding: 5% !important;
  background-color: #318ce7;
  z-index: 2 !important;
  text-align: justify;
}

.tavsilottext h3 {
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #fff;
  margin-bottom: 3%;
}
.tavsilottext p {
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #fff;
  opacity: 0.8;
}

.talim {
  width: 100%;
  background-image: url(../img/talim.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  padding: 5%;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.info {
  min-height: 500px;
  margin: 0 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.qabul_talim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  margin-top: -100px;
  border: 3px solid #318ce7;
}
.qabul_talim img {
  width: 80%;
  height: 80%;
}
.info h3 {
  font-family: "Lobster", cursive;
  font-size: 80px;
}
.info p {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.jarayon_img {
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jarayon_img img {
  width: 350px;
  height: auto;
}
.jarayon_text {
  height: 215px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 10% !important;
  padding-right: 10% !important;
  text-align: justify;
}
.jarayon_text h3 {
  font-family: "Lobster", cursive;
}
.jarayon_text p {
  font-size: 18px;
}
.line {
  width: 150px;
  border-bottom: 3px solid #318ce7;
  margin-top: 3%;
  margin-bottom: 3%;
}

.talablar {
  height: 500px;
  margin-top: 5%;
  margin-bottom: 5% !;
}

.talab {
  padding-top: 100px !important;
  z-index: 3;
}
.talab img {
  width: 100% !important;
  height: 300px;
  z-index: 3 !important;
  object-fit: cover;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.talabtext {
  width: 100%;
  padding-left: 5% !important;
  padding-top: 3%;
  background-color: #318ce7;
  height: 510px;
  padding-right: 5% !important;
  z-index: 2 !important;
  text-align: justify;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.talabtext h3 {
  font-family: "Lobster", cursive;
  font-size: 35px;
  color: black;
  margin-bottom: 3%;
}
.talabtext p {
  font-size: 17.5px;
  color: black;
  opacity: 0.8;
}

.muddat {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
  padding: 3%;
  padding-top: 100px;
  margin-bottom: 5%;
  background-image: url(../img/muddat1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.muddat_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.muddat_text1,
.muddat_text2,
.muddat_text3 {
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #318ce7;
}

.muddat_text1 h3,
.muddat_text2 h3,
.muddat_text3 h3 {
  font-family: "Lobster", cursive;
  font-size: 25px;
}
.muddat_text1 p,
.muddat_text2 p,
.muddat_text3 p {
  font-size: 20px;
}
.muddat_text1:hover {
  background-color: #fff;
}
.muddat_text2:hover {
  background-color: #fff;
}
.muddat_text3:hover {
  background-color: #fff;
}

.hujjat {
  width: 900px;
  height: 600px;
  background-image: url(../img/hujjat.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 5% !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hujjat_text {
  position: absolute;
  left: 0;
  margin: 20px;
  width: 350px;
  padding: 16px;
  background-color: white;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.hujjat_text h3 {
  font-family: "Lobster", cursive;
  font-size: 30px;
}
.hujjat_text p {
  font-size: 18px;
}

/* media =============*/

@media (min-width: 0px) and (max-width: 567px) {
  .img {
    visibility: hidden;
  }
  .text_q {
    padding-left: 0px;
  }
  .text_q h1 {
    font-size: 60px !important;
  }

  .tavsilotlar {
    height: max-content !important;
  }

  .tavsilot img {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .tavsilottext {
    height: auto;
    padding-left: 6% !important;
    padding-right: 8% !important;
  }

  .tavsilottext h3 {
    font-size: 25px;
  }
  .tavsilottext p {
    font-size: 15px;
  }

  .talim {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .info {
    margin: auto;
  }
  .info_b {
    margin: auto;
  }
  .jarayon {
    height: auto;
  }
  .imtixon {
    height: auto;
  }
  .hujjat {
    width: 500px;
  }
  .hujjat_text {
    left: 0px;
    width: 430px;
  }

  .muddat_item {
    display: inline-block;
    margin-left: 9% !important;
    margin-right: auto !important;
  }
  .muddat {
    height: 630px;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  .img {
    visibility: hidden;
  }
  .text_q {
    padding-left: 0px;
  }

  .tavsilottext h3 {
    font-size: 25px;
  }
  .tavsilotlar {
    height: max-content !important;
  }

  .tavsilot img {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .tavsilottext {
    height: auto;
  }

  .tavsilottext h3 {
    font-size: 30px;
  }
  .tavsilottext p {
    font-size: 16px;
  }

  .talim {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .info {
    margin: auto;
  }
  .info_b {
    margin: auto;
  }
  .jarayon {
    height: auto;
  }
  .imtixon {
    height: auto;
  }
  .hujjat {
    width: 500px;
  }
  .hujjat_text {
    left: 15px;
    width: 430px;
  }

  .muddat_item {
    display: inline-block;
    margin-left: 38px !important;
  }
  .muddat {
    height: 630px;
    padding-top: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img {
    visibility: hidden;
  }
  .text_q {
    padding-left: 20px;
  }

  .tavsilotlar {
    height: max-content !important;
  }

  .tavsilot img {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .tavsilottext {
    height: auto;
  }

  .tavsilottext h3 {
    font-size: 30px;
  }
  .tavsilottext p {
    font-size: 18px;
  }

  .talim {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .info {
    margin: auto;
  }
  .info_b {
    margin: auto;
  }
  .jarayon {
    height: auto;
  }
  .imtixon {
    height: auto;
  }
  .hujjat {
    width: 500px;
  }
  .hujjat_text {
    left: 15px;
    width: 430px;
  }

  .muddat_item {
    display: inline-block;
    margin-left: 20% !important;
  }
  .muddat {
    height: 630px;
    padding-top: 30px;
    text-align: center;
  }
}

@media (min-width: 991px) and (max-width: 1500px) {
  .tavsilottext h3 {
    font-size: 25px;
  }
  .tavsilottext p {
    font-size: 16px;
  }
  .info,
  .info_b {
    width: 100%;
  }
  .jarayon {
    height: auto;
  }
  .jarayon_text {
    height: 280px;
  }
  .muddat {
    padding-top: 100px;
  }
  .muddat_text1,
  .muddat_text2,
  .muddat_text3 {
    width: 300px;
  }
}
