*{
    margin: 0px;
    padding: 0px;
}
.cl{
    clear: both;
}
.mat{
    width: 100%;
}
@media(min-width:648px){
.header{
  position: relative;
    width: 100%;
    height: 675px;
}

.sarlavha{
  position: absolute;
   opacity: 1;
    z-index: 3124356;
    background-color: rgba(0, 0, 0, 0.281);
    text-shadow: 0px 0px 4px black;
    float: center;
    right: 30px;
    letter-spacing: 3px;
bottom:120px;
}
.sarlavha h2{
  opacity: none;
  color: white ;
  line-height: 22px;
  margin: 30px 30px;
  opacity: 1.0;
}
.sarlavha h1{
  opacity: 1.0;
    font-size: 35px;
    font-family: serif;
    color: white ;
    margin: 20px 20px;
}
.gal{
    width: calc(100%-40px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
}

  
  .bor {
      margin: 44px 10px;
    /* overflow: hidden; */
    width: 390px;
    height: 280px;
    border: 5px solid rgb(33, 78, 2);
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
  .bor::before, .bor::after {
    position: absolute;
    background: #fff;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .bor::before {
    height: 290px;
    width: 340px;
  }
  
  .bor::after {
    width: 400px;
    height: 230px;
  }
  
  .rasm {
      width: 99%;
      height: 99%;
      overflow: hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  .rasm img{
    height: 120%;
    width: auto;
  }
  .bor:hover::before {
    width: 32px;
    background: #fff;
  }
  
  .bor:hover::after {
    height: 32px;
    background: #fff;
  }
  
  .bor:hover {
    background: #fff;
  }
}
@media(max-width:648px){
    .header{
      position: relative;
        width: 100%;
        height: 420px;
    }
    .sarlavha{
      opacity: 1;
     position: absolute;
        background-color:  rgba(0, 0, 0, 0.281);
        text-shadow: 0px 0px 4px black;
        color: white;
    right: 20px;
      left:50px;
      bottom: 100px;
   
    }
    .sarlavha h2{
      opacity: 1.0;
      padding: 30px 30px;
        font-size: 16px;
        margin-bottom: 7px;
        color: white ;
    }
    .sarlavha h1{
      opacity: 1.4;
      padding: 20px 20px;
        font-size: 28px;
        font-family: serif;
    color: white ;
    }
    
    
      
      .bor {
          /* margin: 44px 10px; */
        /* overflow: hidden; */
 width:100%;       
       box-shadow: 0px 0px 21px rgb(25, 26, 25);
        border: 5px dashed rgb(33, 78, 2);
        -webkit-tap-highlight-color: transparent;

      }
      
      .bor::before, .bor::after {
display: none;
      }
      

      
      .rasm {
          width: 99%;
          height: 99%;
          margin: 0.5%;
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
      }
      .rasm img{
        /* height: 100vh; */
        width: 100%;
      }
}





.imagewrapper {
  background-color: rgba(0, 0, 0, 0.205);
  width: 30vw;
  box-shadow: 4px 4px 40px rgb(105, 98, 98);
  height: 36vh;
  border-radius: 5px;
  position: relative;
  margin: 10vh auto;
}
.imagewrapper img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}
.image1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(1px, -60px);
  transition: transform 600ms ease;
  transform-origin: top;
}
.imagewrapper:hover .image1 {
  transform: translate(0, 0);
}
.image2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-20px, -30px);
  transition: transform 600ms ease;
}
.imagewrapper:hover .image2 {
  transform: translate(0, 0);
}
.image3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-10px, 0px);
  transition: transform 600ms ease;
}
.imagewrapper:hover .image3 {
  transform: translate(0, 0);
}
.image4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-30px, 30px);
  transition: transform 600ms ease;
  transform-origin: top;
}
.imagewrapper:hover .image4 {
  transform: translate(0, 0);
}
@media(max-width:767px){
  .imagewrapper{
    width: 70vw;
  
  }

}